.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 240px;
  height: 240px;
}

.boardRow {
  display: flex;
  align-items: center;
  gap: 0;
  height: 80px;
  width: 240px;
}
