.goHomeButton {
  background: none;
  border: none;
  margin-top: 1rem;
  padding-left: 0;
  text-decoration: none;
  color: var(--status-color);
  font-weight: 500;
  font-size: 1.3rem;
  transition: var(--transition);

  &:hover {
    text-decoration: underline;
    background: none;
    border: none;
  }
}
