:root {
  --font-family: 'Arial', sans-serif;
  --border-radius: 8px;
  --transition: all 0.3s ease;
}

/* Темная тема */
body[data-theme='dark'] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --border-color: #444444;
  --square-bg: #2c2c2c;
  --square-hover: #3a3a3a;
  --button-bg: #3a3a3a;
  --button-hover: #4a4a4a;
  --winner-bg: #2ab595;
  --last-move-bg: #2ab595;
  --status-color: #2ab595;
}

/* Светлая тема */
body[data-theme='light'] {
  --bg-color: #f5f5f5;
  --text-color: #ffffff;
  --border-color: #dddddd;
  --square-bg: #2a7bb5;
  --square-hover: #2a5bb5;
  --button-bg: #2a7bb5;
  --button-hover: #2a5bb5;
  --winner-bg: #dc2626;
  --last-move-bg: #2a4bb7;
  --status-color: #2a7bb5;
  --current-move-color: #9ca3af;
  --move-button-text-color: #ffffff;
}

body {
  margin: 0;
  min-width: 720px;
  min-height: 100vh;
  font-family: var(--font-family), sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
}
h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  width: max-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: var(--button-hover);
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

li {
  padding: 3px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.status {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.board-row {
  display: flex;
  align-items: center;
  gap: 0;
  max-height: 80px;
}

.square {
  width: 80px;
  height: 80px;
  border-radius: none;
  background-color: var(--square-bg);
  color: var(--text-color);
}

.winning-square {
  background-color: var(--winner-bg);
  color: var(--text-color);
  font-weight: bold;
  transition:
    background-color 0.5s ease,
    border-color 0.5s ease;
}

.winning-square:hover {
  background-color: var(--winner-bg);
}

.reset-button {
  margin-top: 1rem;
}

.title {
  text-align: center;
  color: var(--status-color);
  font-weight: bold;
  font-size: 4rem;
  margin: 45px 0 45px 0;
}
